        .toolbar{
            display: flex;
            width: 90vw;
            /*trick element center*/
            margin: 0 auto;
            height: 150px;
            align-items: center;
            justify-content: space-evenly;

        }
        /*.tool{
            /*display: flex;

        }*/
        .tool-img{
            height: 50px;
            
        }
        .color-content{
            display: flex;
            height: 50px;
            width: 150px;
            align-items: center;
            justify-content: space-evenly;
        }
        .red{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: lightpink;
            border: 1px solid palevioletred;
        }
        .green{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: lightgreen;
            border: 1px solid green;
            
        }
        .blue{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: lightblue;
            border: 1px solid blue;
        }
        .size-box{
        width: 150px;
        height: 30px;
        /* border: 1px solid grey; */
        display: flex;
        align-items: center;
        justify-content: space-evenly; 
        display: none;  
    }
    .size{
        background-color: darkcyan;
        border-radius: 50%;
    }.size1{
        height: 10px;
        width: 10px;
    }
    .size2{
        height: 15px;
        width: 15px;
    }
    .size3{
        height: 20px;
        width: 20px;
    }
    .size4{
        height: 25px;
        width: 25px;
    }
    .fas{
        font-size: 2rem;  
        /*margin-right: 30px;
        margin-left: 30px;*/
    }
    .icon-pallet{
        height:50px;
        background-color: rgb(228, 227, 227);
        width: 800px;
        margin-left: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .close{
        height: 15px;
        width: 15px;
        background-color: lightcoral;
        border-radius: 50%;
    }
    .minimize{
        height: 15px;
        width: 15px;
        background-color: lightgreen;
        border-radius: 50%;
    }
    .sticky{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 175px;
        height: 175px;
    }
    .navbar{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        display: flex;
        height: 20%;
        justify-content: flex-end;
        align-items: center;
    }
    .textarea{
        width: 100%;
        outline: none;
        border: none;
        height: 83%;
        border-top: 2px solid grey;
    }